{% extends "base.html" %}

{% block header %}
<div class="row">
  <div class="span10 offset2">
    <h1> Richard Stallman <br />
      Free Software and Your Freedom</h1>
  </div>
</div>
{% end %}

{% block content %}

<div class="row" id="container">
  <div class="main-page-container offset2 span10">
    <div class="row">
      <aside class="span3">
      <img src="{{ static_url("rms.jpg") }}" alt="Picture of Richard Stallman" />
      </aside>

      <div class="span7 tabbable main-page-content">
        <nav>
        <ul class="nav nav-tabs">
          <li class="{{ "active" if success is None else ""}}"><a href="#main" data-toggle="tab">Info</a></li>
          <li><a href="#bio" data-toggle="tab">Bio</a></li>
          <li><a href="#lecture" data-toggle="tab">Lecture</a></li>
          <li class="{{ "active" if not(success is None) else ""}}"><a href="#registration" data-toggle="tab">Register!</a></li>
        </ul>
        </nav>

        {% if not success == None %}
        <div class="alert {{"alert-success" if success == "True" else "alert-error"}}">
          {{msg}}
          </div>
        {% end %}

        <div class="tab-content">
          <div id="main" class="tab-pane {{ "active" if success == None else ""}}">
            <a name="main"></a>
            <h2> Info </h2>
            <p>We are happy to announce, that Richard Stallman, the President of Free Software Foundation, pioneer of copyleft and free software, known for his work in <b>GNU</b>, <b>Emacs</b> and <b>GCC</b> visits Poland.
              During his visit he's going to give a prelection on the topic of „Free Software and Your Freedom” at <b>Warsaw University Of Technology</b>.
            </p>
            <p>
              The prelection will take place in <b>Lorem Ipsum PW</b> at <time datetime="2013-03-12T13:37+01:00">12.03.2013 13:37</time>.
              <!--TODO: prawidłowa data i miejsce-->
            </p>
          </div>

          <div id="bio" class="tab-pane">
            <a name="bio"></a>
            <h2> Bio </h2>
            <p>Dr. Richard Stallman launched the free software movement in 1983 and
            started the development of the GNU operating system (see <a href="http://www.gnu.org">www.gnu.org</a>)
            in 1984.</p>
            <p>GNU is free software: everyone has the freedom to copy it
            and redistribute it, with or without changes.  The GNU/Linux system,
            basically the GNU operating system with Linux added, is used on tens
            of millions of computers today.</p>
          <p>Stallman has received the ACM Grace
            Hopper Award, a MacArthur Foundation fellowship, the Electronic
            Frontier Foundation's Pioneer Award, and the the Takeda Award for
            Social/Economic Betterment, as well as several honorary doctorates.</p>
          </div>

          <div id="lecture" class="tab-pane">
            <a name="lecture"></a>
            <h2> Lecture details </h2>
            <p>
              Activities directed at "including" more people in the use of digital
              technology are predicated on the assumption that such inclusion is
              invariably a good thing.  It appears so, when judged solely by
              immediate practical convenience.  However, if we also judge in terms
              of human rights, whether digital inclusion is good or bad depends on
              what kind of digital world we are to be included in.  If we wish to
              work towards digital inclusion as a goal, it behooves us to make sure
              it is the good kind.
            </p>
          </div>

          <div id="registration" class="tab-pane {{ "active" if not(success is None) else ""}}">
            <a name="registration"></a>
            <h2> Registration (optional) </h2>
            <!--[>todo: benefits of registration<]-->
            <p>Proin eleifend feugiat commodo. Nunc rutrum elit ac urna auctor faucibus. Ut vitae magna ipsum. Vestibulum bibendum arcu et quam pellentesque in laoreet massa gravida. Pellentesque imperdiet nibh vel ligula luctus vitae aliquam lorem posuere. In et nulla a arcu fringilla volutpat. Aliquam hendrerit tempor lacus, eu auctor quam pharetra ac.</p>
            <form action='/' class="form-horizontal" method='post'>
              <div class="control-group">
                <label class="control-label">Name:</label>
                <input type='text' name='name' class="controls"><BR>
              </div>
              <div class="control-group">
                <label class="control-label">Surame:</label>
                <input type='text' name='surname' class="controls"><BR>
              </div>
              <div class="control-group">
                <label class="control-label">Email:</label>
                <input type='text' name='email' class="controls"><BR>
              </div>
              <div class="control-group">
                <label class="control-label">Enter text from image:</label>
                {% raw captcha_img %}
              </div>
              <div class="control-group">
                <label class="control-label"></label>
                {% raw captcha_form %}
              </div>

              <div class="control-group">
                <label class="control-label"></label>
                <input class="btn btn-success controls" type='submit' value='Register' class="controls">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% end %}



{% block footer %}
<div class="row">
  <div class="span10 offset2 footer-content">
    <span> Partners </span>
    <a href="http://kotik.iem.pw.edu.pl/"><img alt="KOTIK" src="{{static_url("kotik.png")}}" /></a>
    <a href="http://pw.edu.pl"><img alt="Warsaw University of Technology" src="{{static_url("pw.png")}}" /></a>
    <a href="http://www.ee.pw.edu.pl"><img alt="WUT Department of EE" src="{{static_url("ee.jpg")}}" /></a>
  </div>
</div>
{% end %}

