html, body, #wrap{ height: 100%; }
body > #wrap{ height: auto; min-height: 100%; }


body {
  background-color: #DDDDDD;
}

div#content aside {
  margin: 0px;
}


div#content .main-page-content {
  margin-left: 0px;
}

div#content .main-page-content .tab-content {
  margin-left: 30px;
}

#footer .footer-content {
  background-color: white ;
  clear: both;
  position: relative;
  z-index: 10;
  height: 6em;
  margin-top: -6em;
  margin-left: 200px;
  width: 1000px;
}


#header h1 {
  text-align: right;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.form-horizontal .controls {
  margin-left: 40px;
}

/*Overriding bootstrap tabs*/

nav .nav-tabs > li > a {
  border-radius: 0px;
  font-weight: bold;
  color: black;
  margin-right: 0px;
  font-size: 130%;
}

nav .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  border-width: 0px;
  background-color: #EEEEEE;
}

.main-page-content {
 width: 730px !important;
 background: white;
 background-image: none;
 min-height: 375px;
 padding-bottom: 30px;
}
